* {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Slab', serif;
}

.wrapper {
    min-height: 100vh;
    color: #000;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    background-color: #7fcfd7;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.container {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 768px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: 0px 17px 34px -20px #f55951;  
}

.title {
    font-size: 1.6rem;
    font-weight: 700;
}

.text {
    font-size: 1rem;
    margin-bottom: 0.8rem;
}

.container {
    max-width: 400px;
    overflow: hidden;
    padding: 0;
}

.img {
    width: 100%;
    height: auto;
    
}

